.card-container {
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 80%;
  margin: 20px auto;
  box-shadow: 5px 15px 35px 15px rgba(211, 101, 101, 0.405);
  background-color: rgb(203, 197, 189);
}
.card-body {
  border: 2px solid red;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-wrap: wrap;
  overflow: hidden;

  img {
    width: 100%;
    /* border: 2px solid ; */
    border-radius: 10px;
    /* padding: 4px; */
    transition: all 1.6s;
    transform: translate(0);
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    object-fit: cover;
  }
  img:hover {
    transform: scale(0.9);
    cursor: pointer;
    border: 2px solid rgb(227, 16, 16);
    border-radius: 10px;
  }
}
.card-patient,
.newcard-patient {
  margin: 30px auto;
  padding: 15px;
  width: 80%;
  display: flex;
  gap: 2rem;

  flex-direction: column;
}
.patient,
.newpatient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-radius: 15px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.398);
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.618);
}

.bi-x-circle {
  color: red;

  font-size: 2rem;
  border-radius: 100%;
}
